---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body style="background:rgb(35,35,35);">
<main>
<h1 style="text-align:left;">Planetary Playing Cards</h1>
<div style="display:flex; flex-direction:row; justify-content:center;">
    <div class="sun_card">
        <div class="planet-avatar" style="width:300px; height:300px;background: #FDB813;"></div>
        <h2>Sun</h2>
        <p>Type: G2Y</p>
    </div>
    <div class="rainbow">
    {% for planet in planets %}
        {% include "planetCard.html" %}
    {% endfor %}
    </div>
    </div>
</main>
</body>
</html>
